<div class="row">

    <div class="col-md-8">
    <h3>Bookings Record</h3>
  <ol class="microposts">
  <%= render @reservations %>
  </ol>
  <br>
  <b> <%= link_to "CREATE NEW RESERVATION", create_reservation_path %></b>
    </div>
    </div>