<footer class="footer">
  <small>
    <p>Sample Hotel Reservation System</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://google.com/">News</a></li>
    </ul>
  </nav>
</footer>